body, html {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  font-family: "Varela Round", sans-serif;
  color: #3a3e45;
  overflow-x: hidden;
}

.centered-div {
  width: 971px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #3a3e45;
  font-size: 35px;
}

h2 {
  margin-top: 40px;
}

.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  width: 80%;

  .step-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    text-align: center;

    .step-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .step {
        width: 40px;
        height: 40px;
        background-color: #ccc;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: white;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        position: relative;
        z-index: 2;

        &.active {
          background-color:rgb(106, 191, 4);
        }
      }

      .step-desc {
        text-align: center;
        font-size: 12px;
        line-height: 1.2;
        margin-top: 10px;
      }
    }

    .line {
      position: absolute;
      width: calc(100% - 10px);
      height: 2px;
      background-color: #ccc;
      top: 35%;
      left: 95px;
      z-index: 1;

      &.active {
        background-color: rgb(106, 191, 4);
      }
    }
  }
}

.form-step {
  display: none;
  text-align: center;

  &.active {
    display: block;
  }
}

.form-navigation {
  margin-top: 50px;

  #nextBtn, #prevBtn {
    padding: 10px 20px;
    margin: 0 10px;
    margin-bottom: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    min-width: 160px;

    &:hover {
      background-color: #ccc;
    }
  }

  #nextBtn {
    background-color: rgb(106, 191, 4);
    color: white;

    &:hover {
      background-color: rgb(73, 131, 8);
    }
  }

  #prevBtn {
    color: #3a3e45;
    background-color: #fff;
    border: 1px solid #ccc;
  }
}

#icon-medium {
  max-height: 37px;
  margin-bottom: 10px;
}

#dropArea {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  line-height: 2;
  margin: 20px auto;
  background-color: #f5fcff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 850px;
  color: #828083;

  #uploadLink,
  #removeUpload,
  #uploadLinkCSV,
  #removeCSVUpload {
    color: #0281B0;
    cursor: pointer;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 10px;

    &.csv {
      margin-top: 10px;
    }
  }

  #dropText {
    font-weight: 600;
    font-size: 21px;
  }

  #icon-large {
    max-width: 140px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #icon-large-1 {
    max-width: 140px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #icon-large-2 {
    max-width: 140px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #fileName, #csvFileName {
    margin-top: 10px;
    font-weight: 700;
  }
}

#noBillButton {
  display: block;
  margin: 40px auto;
  border-radius: 4px;
  min-width: 160px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.retailer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0px;
  text-align: center;
  margin: auto;
  max-width: 900px;
}

.retailer-inner-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
}

.retailer-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 8px;
  margin: 10px 10px;
  width: 160px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;

  &.selected {
    border: 3px solid rgb(106, 191, 4);
  }
}

.retailer-logo {
  max-height: 45px;
  width: auto;
  object-fit: contain;
  margin-bottom: 10px;
  height: 45px;
}

.stars {
  width: 80%;
  margin-bottom: 5px;
}

.retailer-name {
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}


.retailer-text {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}

.retailer-text::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.retailer-text.solar::before {
  background-image: url('images/solar.svg');
}

.retailer-text.battery::before {
  background-image: url('images/battery.svg');
  margin-left: 3px;
}

.retailer-text.hotwater::before {
  background-image: url('images/hotwater.svg');
}

.retailer-text.heating::before {
  background-image: url('images/heatingcooling.svg');
}

.retailer-text.cooking::before {
  background-image: url('images/cooking.svg');
}



.option-container {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.option, .product-option {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 208px;
  height: 94px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;

  &.selected {
    border: 3px solid rgb(106, 191, 4);
  }
}

.product-option {
  height: 183px;
}

#feedin, #noBillSection, #roofOptions, #batteryOptions, #smartmeter, #storageQty, #ductedQty, #HeaterQty, #instQty, #HydroQty, #cooktopQty, #freestandingQty, #gasOvenQty, #poolQty, #thermalQty, #vehicleType, #averageDailyTravel {
  display: none;
}

#amountDisplay, #amountDisplay2, #amountDisplay3, #finalStepAmountDisplay {
  font-family: "Varela Round", sans-serif;
  color: #3a3e45;
}

#backToUploadBtn {
  display: block;
  margin: 40px auto;
  border-radius: 4px;
  min-width: 160px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contactDetails input, #sectorList select {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 10px;
}

.gasSlider, #finalStepSlider, #noBillSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  margin: auto;
  max-width: 500px;
}

#finalStepDollarAmount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8px;
    border-radius: 8px;
    background: #ccc;
}

#nogas {
  margin: 30px 0;
  font-size: 21px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 2px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
    }

    &:checked::before {
      background-color: rgb(106, 191, 4);
    }

    &:checked::after {
      content: '\2713';
      font-size: 16px;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
}

#product-img {
  max-height: 100px;
  margin-bottom: 10px;
}

#car-img {
  max-width: 160px;
  margin-bottom: 10px;
}

.optionAndQtybox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .quantity-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;

    .quantity-label {
      margin-left: 10px;
    }

    .quantity-btn {
      width: 40px;
      height: 45px;
      background-color: #f0f0f0;
      border: none;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #e0e0e0;
      }

      &:active {
        background-color: #969696;
      }
    }

    .quantity {
      width: 30px;
      height: 30px;
      text-align: center;
      margin: 0;
      padding: 5px;
      border: none;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

.contactDetails {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  div {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
      text-align: left;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
}

.Subblue {
  color: rgb(106, 191, 4);
  font-size: 35px;
  font-weight: bold;
}

.submsg {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;

  .whatsnext {
    font-size: 18px;
    text-align: center;
    padding: 20px;
  }
}

label[for="dollarAmount"],
label[for="dollarAmount2"],
label[for="dollarAmount3"],
  label[for="finalStepDollarAmount"] {
  font-size: 24px;
  margin-bottom: 10px;
  display: inline-block;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ccc;
  outline: none;
  border-radius: 8px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #3a3e45;
    cursor: pointer;
    border-radius: 50%;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #3a3e45;
    cursor: pointer;
    border-radius: 50%;
  }
}

#addVehicleButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #828083;
  color: white;
  border-radius: 4px;
  min-width: 160px;
  display: block;
  margin: 50px auto;
}

@media only screen and (max-width: 768px) {
  .step-container {
    width: calc(100% / (number of steps));
    flex-grow: 0;
  }

  .centered-div {
    width: calc(100vw - 40px);
  }
  
  .line {
    width: calc(100% - 0px) !important;
    top: 25% !important;
    transform: translateY(-50%);
    left: 40px !important;
  }

  .step-desc {
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    margin-top: 40px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  #dropArea {
    min-width: 200px;
  }
}


.spinner {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
  margin-right: 8px;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}